body {
  font-family: 'Roboto', sans-serif,  Arial, "Helvetica Condensed", Helvetica, sans-serif;
}

.item {
  border: 1px  #8585AD solid;
  float: left;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  /*background-image: url(/images/helmet-icon.png);
  opacity : 0.2;*/
}

.item .position {
  font-size: 10em;
  font-weight: bold;
  color: #8585AD;
  width: 100%;
  display: inline-block;
  margin: 0px;
  height: 170px;
}

.item .lastName {
  font-size: 3em;
  margin: 0px;
}

.item .firstName {
  font-size: 1.2em;
  font-style: italic;
  text-align: left;
  margin-top:-10px;
}

.item .status {
  font-size: 1.2em;
  font-weight: bold;
}

.item .raceTime {

}
