body {
  font-family: 'Roboto', sans-serif,  Arial, "Helvetica Condensed", Helvetica, sans-serif;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.container {
  margin-bottom: 40px;
}

.container-narrow {
  margin-bottom: 0px;
}

.item {
  line-height: 1;
  border: 1px  #8585AD solid;
  float: left;
  padding: 2px;
  margin: 2px;
  border-radius: 12px;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  text-align: center;
  min-width: 165px;
  background-color: white;
  /*background-image: url(/images/helmet-icon.png);
  opacity : 0.2;*/
}

#isotopeContainer {
  padding-left: 5px;
}
.item > hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.round {
  font-size: 3em;
  text-align: center;
}

.standingPosition {
  font-size: 2em;
  text-align: center;
}

.position {
  font-size: 7em;
  font-weight: bold;
  color: #8585AD;
  width: 100%;
  /*display: inline-block;*/
  margin: 0px;
  height: 100px;
}

.consName{
  font-size: 2em;
  margin: 0px;
  text-align: right;
}

.lastName {
  font-size: 2em;
  margin: 0px;
  text-align: right;
}

.firstName {
  font-size: 1em;
  font-style: italic;
  text-align: left;
}

.driverNo {
  font-size: 4em;
  font-weight: bold;
  width: 100%;

  margin: 0px;
  height: 100px;
}

.centerMe {
  text-align: center;
}

.item .status {
  font-size: 1.2em;
  font-weight: bold;
}

.item .raceTime {
  font-size: 1em;
}

.mainPic {
  text-align: center;
}

.mainPic img {
  border: 1px #8585AD solid;
}

.divider {
  font-size:0.8em;
  color: #8585AD;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

ul {
  list-style: none;

}

.pole {
  background-image: url("../images/flag_opac.jpg");
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.pole .position {
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.pole .lastName a {
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.raceForecast {
  border: 1px blue solid;
}

.raceForecast > div {
  float: left;
  margin-right: 2px;
}

.weatherTile {
  text-align: center;
  display: inline-block;
  max-width: 60px;
  height: 60px;
  padding: 0px 4px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.weatherTile img {
  width: 45px;
}

img.arrow {
  width: 33px;
}

.tempTile {
  margin: 1px;
  display: block;
  padding-top: 3px;
}

.tempMin {
  padding-top: 5px;
  font-size: 0.6em;
  text-align: left;
}

.tempMax {

  font-size: 0.6em;
  text-align: right;
}

.tempMain {

  font-size: 1.7em;
}

.weatherDesc {
  width: 100%;
  float:left;
  font-size: 0.6em;
  display: block;
}

.footer {
  background-color: #333;
  height: 40px;
}

.footer a {
  color: white;
}

.article {

}

.news {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
}

.related {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
}

.twitter {
  width: 49.3%;
  margin: 1px;
  padding: 3px;
   padding-top: 0px;
   padding-left: 0px;
  float: left;
  word-wrap: break-word;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #eee;
}
.twitter > img.icon {
  float:left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.date {
  font-size: 0.8em;
  width: 100%;
  text-align: right;
}

.twitter > span > p {
  margin-bottom: 2px;
}

.twitter > span > p > img {
  width: 25px;
  padding-left: 2px;
  padding-right: 2px;
}
 .twitter > a > h4 {
  font-size: 0.9em;
  margin-top: 0px;  
  margin-bottom: 2px;
  clear: both;
 }

.half {
  width: 50%;
}

.chart-container {

}

