body {
  font-family: 'Roboto', sans-serif,  Arial, "Helvetica Condensed", Helvetica, sans-serif;
}

.container {
  margin-bottom: 40px;
}

.item {
  line-height: 1;
  border: 1px  #8585AD solid;
  float: left;
  padding: 5px;
  margin: 5px;
  border-radius: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  /*background-image: url(/images/helmet-icon.png);
  opacity : 0.2;*/
}

.position {
  font-size: 8em;
  font-weight: bold;
  color: #8585AD;
  width: 100%;
  /*display: inline-block;*/
  margin: 0px;
  height: 100px;
}

.consName{
  font-size: 2.5em;
  margin: 0px;
  text-align: right;
}

.lastName {
  font-size: 2.5em;
  margin: 0px;
  text-align: right;
}

.firstName {
  font-size: 1.2em;
  font-style: italic;
  text-align: left;
}

.driverNo {
  font-size: 4em;
  font-weight: bold;
  width: 100%;

  margin: 0px;
  height: 100px;
}

.centerMe {
  text-align: center;
}

.item .status {
  font-size: 1.4em;
  font-weight: bold;
}

.item .raceTime {
  font-size: 1.2em;
}

.mainPic {
  text-align: center;
}

.mainPic img {
  border: 1px #8585AD solid;
}

.divider {
  font-size:0.8em;
  color: #8585AD;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.pole {
  background-image: url("../images/flag_opac.jpg");
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.pole .position {
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.pole .lastName a {
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000;
}

.footer {
  background-color: #333;
  height: 40px;
}

.footer a {
  color: white;
}
