<div ng-hide="content_loaded">
  Just grabbing your data...
</div>
<div ng-show="content_loaded">
  <table class="table constructorable table-striped table-bordered table-hover table-condensed">
    <tr>
      <td><h2><span class="consName">{{team.StandingsLists[0].ConstructorStandings[0].Constructor.name}}</span></h2></td>
    </tr>
    <tr>
      <td><img class="img-responsive center-block img-thumbnail" ng-src="{{team.imageUrl}}" /></td>
    </tr>
    <tr>
      <td><a target="_blank" ng-href="{{team.StandingsLists[0].ConstructorStandings[0].Constructor.url}}"/>Wiki Link</td>
    </tr>
  </table>
  <table class="table constructorable table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>Season</th>
      <th>Rounds</th>
      <th>Position</th>
      <th>Points</th>
      <th>Wins</th>
    </tr>
    <tr ng-repeat="result in team.StandingsLists" ng-class-odd="'odd'" ng-class-even="'even'">
      <td>{{result.season}}</td>
      <td>{{result.round}}</td>
      <td>{{result.ConstructorStandings[0].position}}</td>
      <td>{{result.ConstructorStandings[0].points}}</td>
      <td>{{result.ConstructorStandings[0].wins}}</td>
    </tr>
  </table>
</div>
