<table class="table drivertable">
  <tr>
    <td colspan="5"><h3>Formula 1<span class="divider">.:.</span>
      <span class="dropdown">
        <a class="btn btn-default" data-toggle="dropdown" href="#">{{ season }} <b class="caret"></b></a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownYear">
          <li ng-repeat="year in years">
            <a ng-click="$parent.season = year">{{year}}</a>
          </li>
        </ul>

        <!-- <select ng-change="updatePage()" data-ng-model="seasonSelection"
             data-ng-options="year for year in years">
             <option value="{{season}}" selected>{{season}}</option>
       </select> -->
      </span>
      <span class="divider">.:.</span>Driver Standings</h3>
    </td>
  </tr>
  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Points</th>
    <th>Team</th>
    <th>Wins</th>
  </tr>
  <tr ng-repeat="driver in drivers.DriverStandings">
    <td>{{driver.position}}</td>
    <td><img ng-src="http://jewkesy.github.io/colloquial/images/flags/{{driver.Driver.nationality}}.png" /> <a ui-sref="viewDriver({id:driver.Driver.driverId})">{{driver.Driver.givenName}} {{driver.Driver.familyName}}</a></td>
    <td>{{driver.points}}</td>
    <td>{{driver.wins}}</td>
    <td><a target="_blank" ng-href="{{driver.Constructors[0].url}}"/>{{driver.Constructors[0].name}}</td>
  </tr>
</table>
