<table class="table drivertable">
  <tr>
    <td><h3>{{driver.givenName}} {{driver.familyName}}</h3></td>
    <td><img ng-src="{{ driver.imageUrl }}" /></td>
  </tr>
  <tr>
    <td>DOB</td>
    <td>{{driver.dateOfBirth | date:'MMM d, y'}} ({{driver.Age}} years old)</td>
  </tr>
  <tr>
    <td>Nationality</td>
    <td><img ng-src="{{driver.flagUrl}}" /> {{driver.nationality}}</td>
  </tr>
  <tr>
    <td>Number</td>
    <td>{{driver.permanentNumber}}</td>
  </tr>
  <tr>
    <td colspan=2><a target="_blank" ng-href="{{driver.url}}"/>Wiki Link</td>
  </tr>
</table>
