<div ng-hide="content_loaded" class="fullscreenCenter">
  Just grabbing your data...
</div>
<div ng-show="content_loaded">
  <h3>Latest News</h3>



<!--     <ul id="isotopeContainer" isotope-container ng-cloak>
      <li ng-repeat="article in results | orderBy:'timestamp'" isotope-item="isotope-item">
        <div class="article {{article.type}} img-thumbnail" ng-if="article.type == 'news'" timestamp={{article.timestamp}}>
          <a target="_blank" ng-href="{{article.unescapedUrl}}"><h4 ng-bind-html="article.titleNoFormatting"></h4></a>
          <img class="img-responsive center-block" ng-src="{{article.image.url}}" />
          <span ng-bind-html="article.content"></span>
          <span><b>{{article.publisher}}</b> - <i>{{article.publishedDate}}</i></span>
        </div>
        <div class="article {{article.type}}" ng-if="article.type == 'twitter'" timestamp={{article.timestamp}}>
          <img class="icon" ng-src="{{article.pic}}" /><span ng-bind-html="article.content"></span>
          <a target="_blank" ng-href="{{article.unescapedUrl}}"><h4 ng-bind-html="article.titleNoFormatting"></h4></a><img class="icon icon_small" src="./images/icons/icon-twitter.png" />
          <span class="date"><i>{{article.publishedDate}}</i></span>
        </div>
        <div class="article {{article.type}} img-thumbnail" ng-if="article.type == 'related'" timestamp={{article.timestamp}}>
          <a target="_blank" ng-href="{{article.unescapedUrl}}"><h4 ng-bind-html="article.titleNoFormatting"></h4></a>
          <span><b>{{article.publisher}}</b> - <i>{{article.publishedDate}}</i></span>
        </div>
      </li>
    </ul> -->


  <div ng-repeat="article in results">
    <div class=" {{article.type}} img-thumbnail" ng-if="article.type == 'news'" timestamp={{article.timestamp}}>
      <a target="_blank" ng-href="{{article.unescapedUrl}}"><h4 ng-bind-html="article.titleNoFormatting"></h4></a>
      <img class="img-responsive center-block" ng-src="{{article.image.url}}" />
      <span ng-bind-html="article.content"></span>
      <span><b>{{article.publisher}}</b> - <i>{{article.publishedDate}}</i></span>
    </div>
    <div class=" {{article.type}}" ng-if="article.type == 'twitter'" timestamp={{article.timestamp}}>
      <img class="icon" ng-src="{{article.pic}}" /><span ng-bind-html="article.content"></span>
      <a target="_blank" ng-href="{{article.unescapedUrl}}"><h4 ng-bind-html="article.titleNoFormatting"></h4></a><img class="icon icon_small" src="./images/icons/icon-twitter.png" />
      <span class="date"><i>{{article.publishedDate}}</i></span>
    </div>
    <div class=" {{article.type}} img-thumbnail" ng-if="article.type == 'related'" timestamp={{article.timestamp}}>
      <a target="_blank" ng-href="{{article.unescapedUrl}}"><h4 ng-bind-html="article.titleNoFormatting"></h4></a>
      <span><b>{{article.publisher}}</b> - <i>{{article.publishedDate}}</i></span>
    </div>
  </div>
</div>